@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.images {
  overflow: hidden;
  padding: 60px 0;
  display: flex;
}

.images-slide {
  display: flex;
  animation: slide 10s infinite linear;
}

.images-slide img {
  height: 20vh; /* Responsive height */
  width: 20vw; /* Responsive width */
  max-width: 150px; /* Set max width */
  max-height: 150px; /* Set max height */
  min-width: 100px; /* Set minimum width */
  min-height: 100px; /* Set minimum height */
  margin: 10px; /* Ensure spacing remains consistent */
  object-fit: cover;
}

