@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.images {
  overflow: hidden;
  padding: 60px 0;
  display: flex;
}

.images-slide {
  display: flex;
  animation: slide 10s infinite linear;
}

.images-slide img {
  height: 20vh;
  width: 20vw;
  max-width: 150px;
  max-height: 150px; 
  min-width: 100px;
  min-height: 100px;
  margin: 10px;
  object-fit: cover;
}
